.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-header {
  position: absolute;
  background: linear-gradient(purple, violet);
  width: 100vw;
  height: 20px;
  top: 0;
  left: 0;
  color: black;
}
