.App {
  text-align: center;
  
}



.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Header-component {
  position: fixed;
  z-index:3;
  background: linear-gradient(217deg, purple, violet);
  width: 100vw;
  height: 7vh;
  top: 0;
  left: 0;
  color: white;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 2px 5px 1px rgba(153,137,153,1);
}

.App-title {
  line-height: 7vh;
  font-size: 5vh;
  padding-left: 2vw;
  font-family: "Dosis", sans-serif;
}

.App-icon {
  padding: 1vh;
  padding-left: 4vh;
  width: 5vh;
  height: 5vh;
}
.File-Input-Component{
  position: relative;
  margin: 10px;
}
.Choose-Files-Button {
  border: 2px violet solid;
  background: linear-gradient(purple, blue);
  width: 20vh;
  height: 6vh;
  border-radius: 3vh;
  color: white;
  line-height: 5vh;
  font-size: 3vh;
  font-family: "Dosis", sans-serif;
}

.Choose-Files-Button:hover {
}

.Submit-Button {
  cursor: pointer;
  border: 2px violet solid;
  background: linear-gradient(purple, blue);
  width: 20vh;
  height: 6vh;
  border-radius: 3vh;
  color: white;
  line-height: 5vh;
  font-size: 3vh;
  font-family: "Dosis", sans-serif;
  margin: 10px;
}

.Submit-Button:hover {
}

input[type="file"],
select {
  /* background: blue; */
  border-radius: 3vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  width: 20vh;
  height: 6vh;
  border: 0px solid transparent;
}
.background{
  background: linear-gradient(270deg, #ee85ff, #85c8ff);
  position: fixed;
  z-index: -2;
background-size: 400% 400%;
width: 100vw;
height: 100vh;
animation: AnimationName 6s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}}

.Button-Group{
  position: relative;
  display: flex;
  justify-content: center;
}

.Tutorial{
  padding-top:15vh;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
}
.Tutorial-Step{
  width: 25vw;

}

.Tutorial-Flow{
  font-size: 5vw;
  line-height: 25vw;
}
/* 
.Flex-Vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
.Tutorial-Description{
  display: flex;
  justify-content: space-evenly;
  padding-top: 3vh;
}
.Description{
  width: 33vw;
  text-align: center;
  color: white;
  font-size: 3vh;
  font-family: "Dosis", sans-serif;
}

@media only screen and (max-width: 600px) {
  .Button-Group{
    position: relative;
    left: 8vw;
    /* transform: translate(-20%,0%); */
    display: flex;
    flex-direction: column;
  }
  .Submit-Button {
        width: 80vw;
  }
  .Choose-Files-Button {
    width: 80vw;
  }
  input[type="file"],
  select {
    width: 80vw;
}
.File-Input-Component{
  margin:0px;
}
.Submit-Button {
  margin: 0px;
}


.Tutorial{
  position: relative;
  padding:0;
  padding-top:15vh;
  display: block;
  /* flex-direction: column; */
}
.Tutorial-Step{
  position: absolute;
  
  width: 60vw;
  margin-left: 20vw;

}

.Tutorial-Flow{
  font-size: 20vw;
  text-align: center;
  display: none;
}

.Fill-Form  {
  animation: disappear1 8s linear infinite;
}
.Upload-Doc {
  animation: disappear2 8s linear infinite;
}
.Get-Account {
  animation: disappear3 8s linear infinite;
}



.Tutorial-Description{
  display: block;
  padding-top: 0vh;
  padding-bottom: 7vh;
}
.Description{
  position: absolute;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 3vh;
  font-family: "Dosis", sans-serif;
}
}
.Describe1{ animation: disappear1 8s linear infinite;}
.Describe2{ animation: disappear2 8s linear infinite;}
.Describe3{ animation: disappear3 8s linear infinite;}

@keyframes disappear1 {
  0%  {opacity: 1;}
  25% {opacity: 1;}
  33% {opacity: 0;}
  66% {opacity: 0;}
  100%{opacity: 0;}
}
@keyframes disappear2 {
  0%  {opacity: 0;}
  25% {opacity: 0;}
  33% {opacity: 1;}
  58% {opacity: 1;}
  66% {opacity: 0;}
  100%{opacity: 0;}
}
@keyframes disappear3 {
  0%  {opacity: 0;}
  32% {opacity: 0;}
  33% {opacity: 0;}
  58% {opacity: 0;}
  66% {opacity: 1;}
  92% {opacity: 1;}
  100%{opacity: 0;}
}

